

#audio-player {
    display: flex;
    height: 100px;
}

.audio-player--container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.c-player {
    font-size: smaller;
    color: blanchedalmond;
    margin-right: 5px;
    min-width: 400px;
    background-color: #313131;
    padding: 10px 20px;
    border-radius: 10px;
}

.progress-bar--container {
    --progress-bar-height: 4px;
    --thumb-width: 20px;
    --thumb-height: 20px;
}

.progress-bar--container {
    position: relative;
    width: 100%
}

.range {
    -webkit-appearance: none;
    background-color: rgba(49, 214, 8, 0.644);
    height: 10px;
    width: 99%;
    cursor: pointer;
    opacity: 0;
    margin-bottom: 0 auto;
}

.progress-bar--container::before {
    content: '';
    background-color: white;
    width: 99%;
    height: 4px;
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 1;
}

.progress-bar--cover {
    background-color: rgb(218, 55, 145);
    width: 100%;
    height: var(--progress-bar-height);
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);

    background: #ee06bc;
    border-radius: 50%;
    cursor: pointer;
}

.thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.753);
    z-index: 3;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    
    transform: translate(0%, -50%);
    pointer-events: none;
    user-select: none;
}

.play-btn--container {
    padding-top: 8px;
}

.play-btn {
    margin: 5px 15px 5px 5px;
    padding: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(5, 72, 18, 0.994);
    font-size: xx-large;
}

.play-btn:hover {
    color: rgb(55, 230, 12);
    box-shadow: 1px 1px 20px 5px rgba(49, 214, 8, 0.644), inset 1px 1px 15px 1px rgba(49, 214, 8, 0.644);
}