.comments-container {
    background-color: rgb(165, 165, 165);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: inset -3px -3px 8px 2px rgba(0, 0, 0, 0.378), inset 3px 3px 8px 2px rgb(221, 221, 221);
}

.comment-body {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.comments {
    width: 400px;
}

.comment-btn {
   display: flex;
   justify-content: space-around;
}

.comment-form {
    background-color: rgba(0, 0, 0, 0);
}


#modal-content {
    margin-left: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.comment-form--btn {
    margin-top: 5px;
    margin-left: 20px;
    padding: 8px;
    background-color: rgb(56, 41, 2);
}

.comment-form--btn-container {
    
    display: flex;
    justify-content: center;
}

.comment-form--btn:hover {
    background-color: rgb(255, 199, 58);
    box-shadow: 2px 2px 10px rgba(255, 199, 58, 0.802), 2px 2px 15px rgba(255, 199, 58, 0.802);
}

.comment-form--input {
    background-color: rgb(168, 168, 168);
}

.comments {
    list-style-type: none;
}

.remove-comment-btn {
    padding: 8px;
    background-color: rgb(56, 41, 2);
}

.remove-comment-btn:hover {
    background-color: rgb(255, 199, 58);
    box-shadow: 2px 2px 10px rgba(255, 199, 58, 0.802), 2px 2px 15px rgba(255, 199, 58, 0.802);
}

.edit-modal-btn {
    padding: 8px;
    background-color: rgb(56, 41, 2);
}

.edit-modal-btn:hover {
    background-color: rgb(255, 199, 58);
    box-shadow: 2px 2px 10px rgba(255, 199, 58, 0.802), 2px 2px 15px rgba(255, 199, 58, 0.802);
}

