.profile-img {
    height: 0px;
}


.profile {
    margin-top: 2em;
    margin-left: 3em;
    max-height: 200px;
    width: 200px;
    border-radius: 50%;
}

.track-player {
    list-style-type: none;
    margin-left: 25em;
    margin-top: 5em;
}

.profile-page {
    height: 100vh;
    background-image: url('/home/shane/solo/authenticate-me/frontend/src/media/sound-studo-393042_1920.jpg');
    position: relative;
}

.audio-container {
    display: flex;
    justify-content: center;
}

.audio-player-list {
    list-style-type: none;
}

.profile-audio {
    position: absolute;
    left: 500px;
    top: 75px;
    height: auto;
    display: flex;
    justify-content: center;
}

.audio-player-list li {
    margin: 5px;
}

.profile-img {
    position: relative;
    margin-top: 60px;
    height: 235px;
    width: 250px;
}

.shadow-box {
    border-radius: 50%;
    margin-top: 32px;
    margin-left: 48px;
    z-index: 1;
    position: absolute;
    background-color: rgba(252, 252, 252, 0);
    height: 200px;
    width: 200px;
    box-shadow: inset -5px -5px 5px 1px rgba(0, 0, 0, 0.494), inset 5px 5px 5px 1px rgba(255, 254, 254, 0.250)
}