* {
    box-sizing: border-box;
}





input {
    border-radius: 5px;
}

.signup-form-main {
    display: flex;
    justify-content: center;
    background-color: black;
}

.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100vh;
    background-color: grey;
}

.signup-form {
    background-color: rgb(82, 80, 80);
    border-radius: 5px;
    box-shadow: 6px 3px 3px  rgba(0, 0, 0, 0.2);
}

/* 
.username-container {
    display: block;
    margin: 20px;
    background-color: rgb(192, 191, 191);
    color: rgb(19, 31, 80);
    border-radius: 5px;
    box-shadow: 4px 2px 2px  rgba(0, 0, 0, 0.5);
}

.username-input {
    width: 20rem;
}

.username-container label {
    padding-left: 5px;
}

.email-container {
    margin: 20px;
    background-color: rgb(192, 191, 191);
    color: rgb(19, 31, 80);
    border-radius: 5px;
    box-shadow: 4px 2px 2px  rgba(0, 0, 0, 0.5);
}

.email-container label {
    padding-left: 5px;
}

.password-container {
    margin: 20px;
    background-color: rgb(192, 191, 191);
    color: rgb(19, 31, 80);
    border-radius: 5px;
    box-shadow: 4px 2px 2px  rgba(0, 0, 0, 0.5);

}


.password-container label {
    margin-right: 60px;
    padding-left: 5px;
}

.confirm-password-container {
    margin: 20px;
    background-color: rgb(192, 191, 191);
    color: rgb(19, 31, 80);
    border-radius: 5px;
    box-shadow: 4px 2px 2px  rgba(0, 0, 0, 0.5);

}


.confirm-password-container label {
    margin-right: 60px;
    padding-left: 5px;
} */

.signup-btn-container {
    display: flex;
    justify-content: flex-end;
}

.signup-btn {
    border: 1px solid rgb(218, 218, 218);;
    margin-right: 20px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 4px 2px 2px  rgba(0, 0, 0, 0.5);
    color: rgb(218, 218, 218);
    font-weight: bold;
}

.signup-btn:hover {
    border: 1px solid black;
    color: black;
    background-color: lightgrey;   
}

.signup-form li {
    color: rgb(235, 74, 74);
}

input {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    box-sizing: content-box;
    width: 300px;
    height: 30px;
    margin: 10px;
}

label {
    font-weight: bold;
    margin-left: 5px;
    color: rgb(218, 218, 218);
    text-shadow: 2px 2px 2px rgb(22, 19, 19);
}